---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import RecentBlogs from "../components/RecentBlogs.astro";
---

<Main title="tnplate", tags={["homepage"]}>
  <Header />
  <div class="featured-blogs">
    <h3 class="featured-blogs__title">Recent Blogs</h3>
    <p class="featured-blogs__description">
      My own opinion on anything
    </p>
  </div>
  <RecentBlogs />
</Main>
