---
/* generated code - do not change manually */
---

<div class="blogs__directory">
    Table of Contents
    <li class="blogs__list__folderitem">
      <a onclick="handleFolderClick(event)" class="blogs__"></a>
      <ul class="blogs__directory__ul">
        
       <table>
         <tr class="blogs__list__fileitem">
           <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
           <td><a href={`/blogs/todo-list`} class="blogs__todo-list">Roadmap</a></td>
         </tr>
       </table>
       <li class="blogs__list__folderitem">
         <a onclick="handleFolderClick(event)" class="blogs__applications">📁 Applications</a>
         <ul class="blogs__directory__ul">
           
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/applications/volta`} class="blogs__applications__volta">Volta</a></td>
            </tr>
          </table>
         </ul>
       </li>
       <li class="blogs__list__folderitem">
         <a onclick="handleFolderClick(event)" class="blogs__development">📁 Development</a>
         <ul class="blogs__directory__ul">
           
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/development/chocolatey`} class="blogs__development__chocolatey">Chocolatey</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/development/contrast-checker`} class="blogs__development__contrast-checker">Web Resources</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/development/expose-your-local-backend`} class="blogs__development__expose-your-local-backend">Expose Your Local Backend</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/development/gitcommands`} class="blogs__development__gitcommands">Git Commands</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/development/links`} class="blogs__development__links">Devlopment Links</a></td>
            </tr>
          </table>
          <li class="blogs__list__folderitem">
            &nbsp;&nbsp;&nbsp;<a onclick="handleFolderClick(event)" class="blogs__development__TypeScript">📁 Typescript</a>
            <ul class="blogs__directory__ul">
              
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/TypeScript/links`} class="blogs__development__TypeScript__links">Typescript Links</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/TypeScript/web-dev-simplified`} class="blogs__development__TypeScript__web-dev-simplified">Web Dev Simplified</a></td>
               </tr>
             </table>
            </ul>
          </li>
          <li class="blogs__list__folderitem">
            &nbsp;&nbsp;&nbsp;<a onclick="handleFolderClick(event)" class="blogs__development__astro">📁 Astro</a>
            <ul class="blogs__directory__ul">
              
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/astro/blog-collection-structure`} class="blogs__development__astro__blog-collection-structure">Directory Structure Of Blogs Collection</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/astro/errors`} class="blogs__development__astro__errors">Astro Errors</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/astro/image-metadata`} class="blogs__development__astro__image-metadata">Imagemetadata</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/astro/links`} class="blogs__development__astro__links">Links</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/astro/search-tool`} class="blogs__development__astro__search-tool">Search Tool</a></td>
               </tr>
             </table>
            </ul>
          </li>
          <li class="blogs__list__folderitem">
            &nbsp;&nbsp;&nbsp;<a onclick="handleFolderClick(event)" class="blogs__development__python">📁 Python</a>
            <ul class="blogs__directory__ul">
              
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/python/remove-whitespace`} class="blogs__development__python__remove-whitespace">Remove Whitespace</a></td>
               </tr>
             </table>
            </ul>
          </li>
          <li class="blogs__list__folderitem">
            &nbsp;&nbsp;&nbsp;<a onclick="handleFolderClick(event)" class="blogs__development__t4">📁 T4</a>
            <ul class="blogs__directory__ul">
              
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/t4/custom_output`} class="blogs__development__t4__custom_output">Custom Output</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/t4/editors`} class="blogs__development__t4__editors">Editors</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/development/t4/templatecontent`} class="blogs__development__t4__templatecontent">Template Content</a></td>
               </tr>
             </table>
            </ul>
          </li>
         </ul>
       </li>
       <li class="blogs__list__folderitem">
         <a onclick="handleFolderClick(event)" class="blogs__food">📁 Food</a>
         <ul class="blogs__directory__ul">
           
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/food/20-items-to-shop`} class="blogs__food__20-items-to-shop">20 Items To Shop</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/food/being-prepared`} class="blogs__food__being-prepared">Being Prepared</a></td>
            </tr>
          </table>
          <li class="blogs__list__folderitem">
            &nbsp;&nbsp;&nbsp;<a onclick="handleFolderClick(event)" class="blogs__food__proteinworks">📁 Proteinworks</a>
            <ul class="blogs__directory__ul">
              
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rvw</td>
                 <td><a href={`/blogs/food/proteinworks/choc-fudge-bar`} class="blogs__food__proteinworks__choc-fudge-bar">Choc Fudge Bar</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rvw</td>
                 <td><a href={`/blogs/food/proteinworks/protein-porridge-360`} class="blogs__food__proteinworks__protein-porridge-360">Apple & Cinnamon, Protein Porridge 360</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rvw</td>
                 <td><a href={`/blogs/food/proteinworks/savoury-supermeals-chicken-noodle`} class="blogs__food__proteinworks__savoury-supermeals-chicken-noodle">Savoury Supermeals, Chicken Noodle</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rvw</td>
                 <td><a href={`/blogs/food/proteinworks/savoury-supermeals-mac-and-cheese`} class="blogs__food__proteinworks__savoury-supermeals-mac-and-cheese">Savoury Supermeals, Mac And Cheese</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rvw</td>
                 <td><a href={`/blogs/food/proteinworks/superfood-breakfast-bowl`} class="blogs__food__proteinworks__superfood-breakfast-bowl">Apple & Cinnamon, Superfood Breakfast Bowl</a></td>
               </tr>
             </table>
            </ul>
          </li>
         </ul>
       </li>
       <li class="blogs__list__folderitem">
         <a onclick="handleFolderClick(event)" class="blogs__hardware">📁 Hardware</a>
         <ul class="blogs__directory__ul">
           
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/hardware/nas-operating-systems`} class="blogs__hardware__nas-operating-systems">Nas Operating Systems</a></td>
            </tr>
          </table>
         </ul>
       </li>
       <li class="blogs__list__folderitem">
         <a onclick="handleFolderClick(event)" class="blogs__helpful">📁 Helpful</a>
         <ul class="blogs__directory__ul">
           
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/helpful/royalmail`} class="blogs__helpful__royalmail">Royal Mail Phone Number</a></td>
            </tr>
          </table>
         </ul>
       </li>
       <li class="blogs__list__folderitem">
         <a onclick="handleFolderClick(event)" class="blogs__keyboard">📁 Keyboard</a>
         <ul class="blogs__directory__ul">
           
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/BuildGuides`} class="blogs__keyboard__BuildGuides">Build Guides</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/Components`} class="blogs__keyboard__Components">Components</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/KiCadExamples`} class="blogs__keyboard__KiCadExamples">Kicad Examples</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/TaskList`} class="blogs__keyboard__TaskList">Keyboard Roadmap</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/keyboard-index`} class="blogs__keyboard__keyboard-index">Index</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/keylayer-plate-thickness`} class="blogs__keyboard__keylayer-plate-thickness">Keylayer Plate Thickness</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/splitkb`} class="blogs__keyboard__splitkb">Splitkb</a></td>
            </tr>
          </table>
          <table>
            <tr class="blogs__list__fileitem">
              <td class="blogs__filetype">&nbsp;&nbsp;Blg</td>
              <td><a href={`/blogs/keyboard/tools`} class="blogs__keyboard__tools">Tools</a></td>
            </tr>
          </table>
          <li class="blogs__list__folderitem">
            &nbsp;&nbsp;&nbsp;<a onclick="handleFolderClick(event)" class="blogs__keyboard__ergogen">📁 Ergogen</a>
            <ul class="blogs__directory__ul">
              
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/keyboard/ergogen/articles`} class="blogs__keyboard__ergogen__articles">Articles</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/keyboard/ergogen/footprints`} class="blogs__keyboard__ergogen__footprints">Footprints</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/keyboard/ergogen/get-layout-file`} class="blogs__keyboard__ergogen__get-layout-file">Get Keyboard Layout File From Ergogen</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/keyboard/ergogen/links`} class="blogs__keyboard__ergogen__links">Ergogen Links</a></td>
               </tr>
             </table>
             <table>
               <tr class="blogs__list__fileitem">
                 <td class="blogs__filetype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blg</td>
                 <td><a href={`/blogs/keyboard/ergogen/mounting-hole-in-outline`} class="blogs__keyboard__ergogen__mounting-hole-in-outline">Mounting Hole In Outline</a></td>
               </tr>
             </table>
            </ul>
          </li>
         </ul>
       </li>
      </ul>
    </li>
</div>
<style>
  .blogs__directory {
    margin: 5px 0 0 5px;
    width: 25%;
    height: 100vh;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    border-style: solid;
    border-color: var(--border);
    border-width: 0 1px 0 0;
    overflow-y: auto;
    z-index: 1000;
  }

  .blogs__filetype {
    font-size: 0.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
  }

  li.active {
    background: var(--text);
    color: var(--background);
  }

</style>
<script>
  const { pathname } = window.location;
  const anchor = document.querySelector(`a[href="${pathname}"]`)?.parentElement;

  if (anchor) {
    anchor.classList.add("active");
  }
</script>
    