---
    /* generated code - do not change manually */
    ---

    <div class="blogs__directory">
    Table of Contents
        
    <li class="blogs__list__item">
      
      <ul class="blogs__directory__ul">
        
       <li class="blogs__list__item">
         &nbsp;&nbsp;ы
         <a href={`/blogs/todo-list`} class="blogs__todo-list">
           Minddump Astro Todo List
         </a>
       </li>
       <li class="blogs__list__item">
         📁 Applications
         <ul class="blogs__directory__ul">
           
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/applications/volta`} class="blogs__applications__volta">
              Volta
            </a>
          </li>
         </ul>
       </li>
       <li class="blogs__list__item">
         📁 Development
         <ul class="blogs__directory__ul">
           
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/development/chocolatey`} class="blogs__development__chocolatey">
              Chocolatey
            </a>
          </li>
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/development/contrast-checker`} class="blogs__development__contrast-checker">
              Web Resources
            </a>
          </li>
          <li class="blogs__list__item">
            &nbsp;&nbsp;&nbsp;📁 Astro
            <ul class="blogs__directory__ul">
              
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/development/astro/blog-collection-structure`} class="blogs__development__astro__blog-collection-structure">
                 Directory Structure Of Blogs Collection
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/development/astro/errors`} class="blogs__development__astro__errors">
                 Errors
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/development/astro/image-metadata`} class="blogs__development__astro__image-metadata">
                 Imagemetadata
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/development/astro/links`} class="blogs__development__astro__links">
                 Links
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/development/astro/search-tool`} class="blogs__development__astro__search-tool">
                 Search Tool
               </a>
             </li>
            </ul>
          </li>
         </ul>
       </li>
       <li class="blogs__list__item">
         📁 Food
         <ul class="blogs__directory__ul">
           
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/food/20-items-to-shop`} class="blogs__food__20-items-to-shop">
              20 Items To Shop
            </a>
          </li>
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/food/being-prepared`} class="blogs__food__being-prepared">
              Being Prepared
            </a>
          </li>
          <li class="blogs__list__item">
            &nbsp;&nbsp;&nbsp;📁 Proteinworks
            <ul class="blogs__directory__ul">
              
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R
               <a href={`/blogs/food/proteinworks/choc-fudge-bar`} class="blogs__food__proteinworks__choc-fudge-bar">
                 Choc Fudge Bar
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R
               <a href={`/blogs/food/proteinworks/protein-porridge-360`} class="blogs__food__proteinworks__protein-porridge-360">
                 Protein Porridge 360
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R
               <a href={`/blogs/food/proteinworks/savoury-supermeals-chicken-noodle`} class="blogs__food__proteinworks__savoury-supermeals-chicken-noodle">
                 Savoury Supermeals, Chicken Noodle
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R
               <a href={`/blogs/food/proteinworks/savoury-supermeals-mac-and-cheese`} class="blogs__food__proteinworks__savoury-supermeals-mac-and-cheese">
                 Savoury Supermeals, Mac And Cheese
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R
               <a href={`/blogs/food/proteinworks/superfood-breakfast-bowl`} class="blogs__food__proteinworks__superfood-breakfast-bowl">
                 Superfood Breakfast Bowl
               </a>
             </li>
            </ul>
          </li>
         </ul>
       </li>
       <li class="blogs__list__item">
         📁 Hardware
         <ul class="blogs__directory__ul">
           
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/hardware/nas-operating-systems`} class="blogs__hardware__nas-operating-systems">
              Nas Operating Systems
            </a>
          </li>
         </ul>
       </li>
       <li class="blogs__list__item">
         📁 Keyboard
         <ul class="blogs__directory__ul">
           
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/keyboard/keylayer-plate-thickness`} class="blogs__keyboard__keylayer-plate-thickness">
              Keylayer Plate Thickness
            </a>
          </li>
          <li class="blogs__list__item">
            &nbsp;&nbsp;ы
            <a href={`/blogs/keyboard/tools`} class="blogs__keyboard__tools">
              Ergogen Tools
            </a>
          </li>
          <li class="blogs__list__item">
            &nbsp;&nbsp;&nbsp;📁 Ergogen
            <ul class="blogs__directory__ul">
              
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/keyboard/ergogen/articles`} class="blogs__keyboard__ergogen__articles">
                 Articles
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/keyboard/ergogen/footprints`} class="blogs__keyboard__ergogen__footprints">
                 Footprints
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/keyboard/ergogen/get-layout-file`} class="blogs__keyboard__ergogen__get-layout-file">
                 Get Keyboard Layout File From Ergogen
               </a>
             </li>
             <li class="blogs__list__item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ы
               <a href={`/blogs/keyboard/ergogen/mounting-hole-in-outline`} class="blogs__keyboard__ergogen__mounting-hole-in-outline">
                 Mounting Hole In Outline
               </a>
             </li>
            </ul>
          </li>
         </ul>
       </li>
      </ul>
    </li>
    </div>
    <style>
    .blogs__directory {
        margin: 5px 0 0 5px;
        width: 25%;
        height: 100vh;
        float: left;
        position: fixed;
        left: 0;
        top: 0;
        border-style: solid;
        border-color: var(--border);
        border-width: 0 1px 0 0;
        overflow-y: auto;
        z-index: 1000;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: list-item;
        list-style-position: inside;
        list-style-type: none;
    }
    </style>
    