---
// const websitePicture = "https://i.imgur.com/JPGFE75.jpg";
---

<div>
  <div class="profile">
    <!-- <img
      src={websitePicture}
      class="website__picture"
      alt="werbsite picture"
      width="100px"
      height="100px"
    /> -->
    <div class="profile__details">
      <h1>t<i class="emphasis1">n</i>plate</h1>
      <p>Templates are used for many things</p>
      <ul>
        <li>to cut designs into materials</li>
        <li>to Automate Repetitive tasks in code</li>
        <li>to Layout pages in websites</li>
      </ul>
      <p>
        In Mathematics <i>n</i> is a non negative whole numeral greater than zero<br>
        in this case used to define a quantity<br>
        how many copies of that template would you like?
      </p>
      <p>
        When you combine these two ideals you get t<i class="emphasis2">n</i>plate
      </p>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.cdnfonts.com/css/dejavu-serif");

  .profile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
  }

  .emphasis1 {
    font-family: "dejavu-serif";
    font-size: 3.6rem;
  }

  .emphasis2 {
    font-family: "dejavu-serif";
    font-size: 1.3rem;
  }

  .profile__details {
    flex: 1 0 300px;
  }

  .profile__details > h1 {
    margin-top: 0;
  }

  .profile__picture {
    border-radius: 50%;
    margin: 0 2rem 1rem 0;
  }
</style>
